@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Spectral', serif;*/

header {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  height: 80px;
}
header img {
  width: 160px;
  padding-left: 75px;
}

div.begin {
  display: flex;
  height: 80px;
  width: 100%;
}

header div ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: end;
  padding-right: 70px;
}

header div ul li {
  margin-right: 30px;
}

header div ul li.start {
  background-color: black;
  color: white;
  padding: 13px;
  width: 80px;
  border-radius: 20px;
  text-align: center;
}
.newColor {
  background-color: white;
  color: #191919;
}
.newColor2 {
  background-color: #13880f !important;
}
@keyframes changeColor {
  0% {
    background-color: #ffc017;
  }

  100% {
    background-color: white;
    color: #191919;
  }
}
@keyframes greenButton {
  0% {
    background-color: black;
  }
  100% {
    background-color: #13880f;
  }
}
.m-site {
  display: flex;
}
.first-half {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 75px;
}

.both-halfs {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 460px;
  background-color: #ffc017;
  border-bottom: solid 1px black;
}
.m {
  position: relative;
  right: -15px;
}

h1 {
  font-size: 7em;
  padding-top: 80px;
  font-family: "Spectral", serif;
  letter-spacing: -10px;
}

section.both-halfs div p {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  color: #191919;
  padding: 20px 0 70px;
}

section div div.button {
  padding: 15px;
  background-color: #191919;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 200px;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 30px;
  text-align: center;
  letter-spacing: -1px;
}

main div.trendOnMed {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-left: 85px;
  margin-top: 30px;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 20px;
}
main h3 {
  margin-left: 20px;
}

section.cards {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

article {
  display: flex;
  margin-left: 5px;
  height: 150px;
  width: 29%;
}
.number {
  font-size: 1.8em;
  color: rgb(199, 199, 183);
  font-weight: bold;
}

.picAndName {
  margin-left: 30px;
}
article div p.name {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}
.picAndName img {
  border-radius: 100%;
  width: 20px;
  margin-right: 10px;
}

article div img.particular {
  border-radius: 20%;
}
.single-desc1 {
  font-weight: bold;
  margin: 5px 0;
}
.single-desc2 {
  font-size: 0.8em;
  color: rgb(117, 117, 115);
  margin-top: 10px;
}

section.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.description2 {
  margin-left: 75px;
  width: 400px;
}

div.pics img {
  width: 190px;
  float: right;
  margin-top: 10px;
}

section.thirdHalf h5 {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
}
.thirdHalf {
  width: 770px;
  margin-bottom: 50px;
}

div img.icons {
  border-radius: 100%;
  width: 20px;
}
section.thirdHalf h4 {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 0 0 0;
}
section.thirdHalf p {
  color: rgb(117, 117, 115);
  padding: 10px 0 0 0;
}
section.thirdHalf p {
  font-size: 0.9em;
}
section.thirdHalf p:last-of-type {
  display: inline-block;
}

div.fixing-prop {
  width: 550px;
  display: flex;
  justify-content: unset;
  align-items: center;
  margin-top: 5px;
}

section.thirdHalf div.fixing-prop p {
  font-size: 0.8em;
}

.endOfLine {
  position: relative;
  right: -280px;
  top: -7px;
}

span {
  font-weight: bold;
}
