@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Spectral', serif;*/

header {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  height: 80px;
}
header img {
  width: 160px;
  padding-left: 105px;
}
header img:hover {
  cursor: pointer;
}
div.begin {
  display: flex;
  height: 80px;
  width: 100%;
}

header div ul {
  list-style-type: none;
  display: flex;

  align-items: center;
  width: 100%;
  justify-content: end;
  padding-right: 70px;
}

header div ul li {
  margin-right: 30px;
}
header div ul li:hover {
  cursor: pointer;
}
header div ul li.start {
  background-color: black;
  color: white;
  padding: 13px;
  width: 80px;
  border-radius: 20px;
  text-align: center;
}
.newColor {
  background-color: white;
  color: #191919;
}
.newColor2 {
  background-color: #13880f !important;
}
@keyframes changeColor {
  0% {
    background-color: #ffc017;
  }

  100% {
    background-color: white;
    color: #191919;
  }
}
@keyframes greenButton {
  0% {
    background-color: black;
  }
  100% {
    background-color: #13880f;
  }
}
.m-site {
  display: flex;
}
.first-half {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 105px;
}

.both-halfs {
  display: flex;
  justify-content: center;

  height: 460px;
  background-color: #ffc017;
  border-bottom: solid 1px black;
}
.m {
  position: relative;
  right: 0px;
}

h1 {
  font-size: 7em;
  padding-top: 80px;
  font-family: "Spectral", serif;
  letter-spacing: -10px;
}

section.both-halfs div p {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  color: #191919;
  padding: 20px 0 70px;
}

section div div.button {
  padding: 15px;
  background-color: #191919;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 200px;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 30px;
  text-align: center;
  letter-spacing: -1px;
}
section div div.button:hover {
  cursor: pointer;
}
main div.trendOnMed {
  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
  margin-left: 105px;
  margin-top: 30px;
  font-size: 0.8em;

  margin-bottom: 20px;
}
main h3 {
  margin-left: 20px;
}

section.cards {
  font-family: "Roboto", sans-serif;
}

article {
  display: flex;
  margin-left: 5px;
  height: 150px;
  width: 29%;
}
.number {
  font-size: 1.8em;
  color: rgb(199, 199, 183);
  font-weight: bold;
  margin-left: 30px;
}
.particular:hover {
  cursor: pointer;
}
div.picAndName img:hover {
  cursor: pointer;
}
.single-desc1:hover {
  cursor: pointer;
}

.picAndName {
  margin-left: 30px;
}
article div p.name {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}
.picAndName img {
  border-radius: 100%;
  width: 20px;
  margin-right: 10px;
}

article div img.particular {
  border-radius: 20%;
}
.single-desc1 {
  font-weight: bold;
  margin: 5px 0;
}
.single-desc2 {
  font-size: 0.8em;
  color: rgb(117, 117, 115);
  margin-top: 10px;
}

section.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid#e6e6e6;
}

footer {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.description2 {
  width: 400px;
}

.icons:hover {
  cursor: pointer;
}

h5:hover {
  cursor: pointer;
}
h4:hover {
  cursor: pointer;
}
.pics:hover {
  cursor: pointer;
}
span:hover {
  cursor: pointer;
}
div.pics img {
  width: 190px;
  position: relative;
  left: 40px;
  margin-top: 10px;
}

section.thirdHalf h5 {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 5px;
  font-weight: bold;
}

.thirdHalf {
  width: 70%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row-reverse;
}

div img.icons {
  border-radius: 100%;
  width: 20px;
}
section.thirdHalf h4 {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 0 0 0;
}
section.thirdHalf p {
  color: rgb(117, 117, 115);
  padding: 10px 0 0 0;
}
section.thirdHalf p {
  font-size: 0.9em;
}
section.thirdHalf p:last-of-type {
  display: inline-block;
}

div.fixing-prop {
  width: 550px;
  display: flex;
  justify-content: unset;
  align-items: center;
  margin-top: 5px;
}

section.thirdHalf div.fixing-prop p {
  font-size: 0.8em;
}
.thirdHalf div.fixing-prop {
  position: relative;
}
.thirdHalf div.fixing-prop svg.endOfLine {
  position: absolute;
  top: 14px;
  right: 124px;
}
span {
  font-weight: bold;
  padding: 5px;
  background-color: #f2f2f2;
  color: #191919;
  border-radius: 30px;
}
.icons-square {
  border-radius: 5px;
  width: 20px;
}
.last {
  width: 30%;
  position: relative;
}

aside {
  margin-top: 70px;
  width: 100%;
  position: sticky;
  top: 70px;
}
aside h6 {
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 600;
}
aside div {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

aside button {
  background: none;
  border: 1px solid lightgray;
  color: gray;
  padding: 10px 20px;
  margin: 3px;
}
button:hover {
  cursor: pointer;
}
aside ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
aside ul li {
  color: gray;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
aside ul li:hover {
  cursor: pointer;
}
.bothHalfs2 {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin-left: 100px;
}

.side-bar {
  width: 30%;
  position: relative;
  right: 150px;
}

#mainPart {
  width: 100%;
  display: flex;
}
